.result-display {
  .measure-box {
    display: flex;
    flex-wrap: wrap;
  }
  .measure {
    margin: 10px;
    min-width: 100px;
    & > div:first-child {
      font-size: 30px;
      font-weight: 400;
    }
    & > div:nth-child(2) {
      font-size: 15px;
      font-weight: 300;
    }
  }
}
